[Unit]
Description=Whitecoin Mainnet Client
After=network.target

[Service]
ExecStart=/bin/sh -ec "exec whitecoind"
Type=forking
User=pi
Group=pi
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
