[Unit]
Description=Whitecoin Mainnet Client
After=network.target

;; configuration files reside in .nyerium folder of the user
;; -> whitecoin.conf (contains wallet configuration)
[Service]
User=pi
Group=pi

Type=forking
ExecStart=/usr/local/bin/whitecoind
ExecStop=/usr/local/bin/whitecoind stop

Restart=always
RestartSec=5
PrivateTmp=True
TimeoutStopSec=60s
TimeoutStartSec=60s
StartLimitInterval=120s
StartLimitBurst=15

[Install]
WantedBy=multi-user.target
